*{
    background-color: #fac384;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    float: top;
    text-align: center;
}
.menu{
    float: left;
    width: 200px;
    padding: 20px;
    background-color: #3c8bf3;
}
.menu *{
    background-color: #3c8bf3;
}
.menu ul{
    list-style-type: none;
    padding: 20px;
}
.menu li{
    margin-bottom: 20px;
}
.contenido{
    background-color: #f88417;
    padding: 20px;
    margin-left: 220px;
}
.contenido *{
    background-color: #f88417;
}
.contenido a{
    float: right;
    margin-right: 10%;
}
footer{
    text-align: center;
    font-weight: bold;
    background-color: #880909;
    clear: both;
    padding: 10px;
}