body{
    background-color: aqua;
}

p::after{
    content: "más de 1200px";
}

@media screen and (max-width: 1200px){
    body{
        background-color: rgb(255, 230, 0);
    }
    p::after{
        content: "1200px";
    }
}

@media screen and (max-width: 900px){
    body{
        background-color: blue;
    }
    p::after{
        content: "900px";
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: blueviolet;
    }
    p::after{
        content: "600px";
    }
}